#download {
  .card {
    padding: 3rem 1.5rem 15rem;
    position: relative;

    & > img {
        width: 14.5rem;
        position: absolute;
        bottom: -1rem;
        right: -3.5rem;
    }
  } 

  .buttons {
    flex-wrap: wrap; /*Indica que os botões vão para baixo se não houver mais espaço*/
    margin-top: 2rem;
  }

  @media (width >= 80em) {
    .card {
      padding: 8.75rem 5rem;

      & > div:nth-child(1) {
        max-width: 40rem;
      }

      & img {
        width: 29.125rem;
      }

      & .buttons {
        max-width: 10rem;
      }
    }
  }
}
